
<footer class="ftco-footer ftco-bg-dark ftco-section" style="border-top:0.2rem solid #ccc">

    <div class="container">
        <div class="row mb-5">
    
            <div class="col-md">
            
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.9581898057345!2d106.689027709277!3d10.737705889364515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fa4f8fe7dab%3A0xe01b4b8999a30cf7!2zMzggxJDGsOG7nW5nIHPhu5EgNiwgS2h1IGTDom4gY8awIFRydW5nIFPGoW4sIELDrG5oIENow6FuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcxODEzLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1696666073653!5m2!1svi!2s" width="500" height="470" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="ftco-footer-widget mb-4">
               
                 
             @*        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul> *@
                </div>
            </div>
@*             <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Useful Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Blog</a></li>
                        <li><a href="#" class="py-2 d-block">Rooms</a></li>
                        <li><a href="#" class="py-2 d-block">Amenities</a></li>
                        <li><a href="#" class="py-2 d-block">Gift Card</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Privacy</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Career</a></li>
                        <li><a href="#" class="py-2 d-block">About Us</a></li>
                        <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        <li><a href="#" class="py-2 d-block">Services</a></li>
                    </ul>
                </div>
            </div> *@
            <div class="col-md">
     

                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><img src="~/images/Logo.png" style="width:100px" /></h2>
                    <p>Mục Tiêu Tồn Tại Của Hùng Phát Là Đem Lại Cho Bạn Trải Nghiệm Tốt Nhất Với Mức Giá Tối Thiểu!!Đối Với Hùng Phát- Chỉ Có Khách Hàng Là Tồn Tại Vĩnh Cữu</p>
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">38 Đường Số 6 Khu Dân Cư Trung Sơn Bình Chánh Thành Phố HCM</span></li>
                            <li><a href="tel:/02854338868"><span class="icon icon-phone"></span><span class="text">028 54338868</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">hungphathcmhotel@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                   @*  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> *@
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>