


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar mb-5 ftco-navbar-light" id="ftco-navbar" style="top:0">
	<div class="container">
		<a class="navbar-brand" href="/"><img  src="~/images/Logo.png" style="width:100px" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a asp-action="Index" asp-controller="Room" class="nav-link">Rooms</a></li>
				<li class="nav-item"><a asp-action="Index" asp-controller="About" class="nav-link">About</a></li>
				<li class="nav-item"><a href="#footer_contact" class="nav-link">Contact</a></li>

				<li class="nav-item">


					<a href="tel:/02854338868">
						<button class="call-button">
							<i class="fas fa-phone"></i> <span class="phone-number"></span>
						</button>
					</a>

				</li>

	

				
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item" style="display:flex;justify-content:center;align-items:center">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Quản Lý(StaffOnly)
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" asp-controller="User" asp-action="ChangePassword">Thay đổi mật khẩu</a>
								<a class="dropdown-item" href="/admin/RoomType/Index">Quản Lý Loại Phòng</a>
								<a class="dropdown-item" href="/admin/RoomUnity/Index">Quản Lý Tiện Ích</a>
								<a class="dropdown-item" href="/admin/Room/Index">Quản Lý Phòng</a>
								<a class="dropdown-item" href="/admin/RoomProperty/Index">Quản Lý Property</a>
								<a class="dropdown-item" href="/admin/RoomPropertyDetail/Index">Quản Lý PropertyDetail</a>
								<a class="dropdown-item" asp-controller="AdminBanner" asp-action="Index">Quản Lý Banner</a>
								<a class="dropdown-item" asp-controller="AdminPolicy" asp-action="Index">Quản Lý Policy</a>
								<a class="dropdown-item" asp-controller="AdminOrder" asp-action="Index">Quản Lý Order</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<span class="nav-link notice_newOrder " style="cursor: pointer">
							<i class="fa-regular fa-bell" style="font-size:25px"></i>

						</span>
					</li>
					<li style="margin-left:10px" class=" text-dark nav-item "> <a asp-controller="user" class="nav-link text-dark h6" asp-action="Logout">Logout</a></li>
				}
					

			
					
			</ul>
		</div>
	</div>
</nav>

@if (User.Identity.IsAuthenticated)
{
	<script>

		//play audio

		const playAudio = () => {
			// Create an AudioContext
			const audioContext = new (window.AudioContext || window.webkitAudioContext)();

			// Create an AudioBufferSourceNode
			const source = audioContext.createBufferSource();

			// Construct the URL to the MP3 file in the wwwroot folder
			const audioFileUrl = '/audio/notice.wav'; // Replace with the actual path

			// Fetch the MP3 file
			fetch(audioFileUrl)
				.then(response => response.arrayBuffer())
				.then(data => audioContext.decodeAudioData(data))
				.then(buffer => {
					// Set the buffer as the source's audio buffer
					source.buffer = buffer;

					// Connect the source to the audio context's destination (speakers)
					source.connect(audioContext.destination);

					// Play the audio
					source.start(0);
				})
				.catch(error => {
					console.error('Error loading audio file: ' + error);
				});

		}



		const getOrder = () => {
			$.get('/admin/order/CountOrder',
				(data) => {
					localStorage.setItem('tempTimes', data)
					let check = localStorage.getItem("orderTimes");
					if (check) {
						if (Number(check) < Number(data)) {
							playAudio()
							if (!$('.notice_newOrder').find('div').length > 0) {
								$('.notice_newOrder').append(`<div class="bg bg-danger" style="width:10px;height:10px;border-radius:50%; position:relative;bottom:40px;left:20px"></div>`)
							}

						}
					} else {
						localStorage.setItem('orderTimes', data)
					}

				})
		}

		const recallData = setInterval(() => {
			getOrder();
		}, 60000)


		$(document).ready(() => { recallData })


		$('.notice_newOrder').click(() => {
			location.href = '/admin/order/index'
		})
	</script>
}
