################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hotel/FileContentIndex/08233d7b-8a28-43e4-a5cf-643bf066c458.vsidx
/.vs/Hotel/FileContentIndex/08233d7b-8a28-43e4-a5cf-643bf066c458.vsidx
/.vs/Hotel/FileContentIndex/271c25d9-7266-4db2-9059-27c242fc079c.vsidx
/.vs/Hotel/FileContentIndex/271c25d9-7266-4db2-9059-27c242fc079c.vsidx
