################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hotel/FileContentIndex/08233d7b-8a28-43e4-a5cf-643bf066c458.vsidx
/.vs/Hotel/FileContentIndex/08233d7b-8a28-43e4-a5cf-643bf066c458.vsidx
