@model IEnumerable<RoomUnity>
@{
    ViewData["Title"] = "Index Unity";
}

<div class="container" style="min-height:100vh">
    <h1>Quản lý tiện ích phòng</h1>
<p>
    <a asp-action="Create">Tạo Tiện Ích Mới</a>
</p>
<table id="table_unity" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
               Tên Tiện Ích
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh Sửa</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bạn chắc chắn muốn xóa?')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>