@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="hero-wrap" style="background-image: url('@Url.Content("~/images/hung phat 5.jpg")');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
			<div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
				<div class="text">
					<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
					<h1 class="mb-4 bread">About Us</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('@Url.Content("~/ForntEnd/images/bg_2.jpg")');">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								
								
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								
								
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftc-no-pb ftc-no-pt">
	<div class="container">
		<div class="row">
            <div class="col-md-5 p-md-5 img img-2 img-3 d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/images/hung phat p.jpg")');">
				<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
					<span class="icon-play"></span>
				</a>
			</div>
			<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
				<div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
					<div class="ml-md-0">
						<span class="subheading">Welcome to Hùng Phát Hotel</span>
						<h2 class="mb-4">Chào mừng đến khách sạn của chúng tôi</h2>
					</div>
				</div>
				<div class="pb-md-5">
					<p>
						Khách sạn Hùng Phát là một địa điểm tuyệt vời cho các cặp đôi tìm kiếm một kỳ nghỉ lãng mạn. Không gian tại đây thiết kế riêng tư với những chi tiết chăm sóc để tạo cảm giác ấm cúng và thoải mái.

						Các phòng ở khách sạn Hùng Phát được trang bị ghế tình yêu và giường lớn, tạo nên môi trường tuyệt vời để bạn và người yêu thư giãn và tận hưởng thời gian cùng nhau. Màn hình TV lớn với các dịch vụ như YouTube và Netflix cho phép bạn xem các bộ phim và chương trình yêu thích của mình trên màn hình lớn, tạo nên không gian giải trí riêng tư.

						Ngoài ra, các phòng còn được trang bị các tiện nghi hiện đại như máy pha cà phê, minibar và dịch vụ phòng 24/7, giúp bạn tận hưởng thời gian ở đây một cách thoải mái và tiện lợi.

						Khách sạn Hùng Phát tạo điều kiện lý tưởng để các cặp đôi tận hưởng thời gian riêng tư và lãng mạn cùng nhau. Không gian riêng tư và tiện nghi hiện đại sẽ giúp bạn và người yêu có một kỳ nghỉ đáng nhớ và đáng yêu.
					</p>
					<p>
						Khi bạn đến Hùng Phát Hotel, hãy chuẩn bị cho mình một trải nghiệm khá đặc biệt. Từ lúc bạn bước qua cửa, bạn sẽ bị cuốn hút bởi không gian sang trọng và đầy lãng mạn của khách sạn.

						Lobby rộng lớn với ánh sáng dịu dàng và trang trí tinh tế sẽ tạo cho bạn cảm giác như đang bước vào một thế giới riêng tư. Nhân viên nhiệt tình và chu đáo sẽ đón tiếp bạn và làm mọi cố gắng để đảm bảo bạn có một kỳ nghỉ không giống ai.

						Các phòng nghỉ tại Hùng Phát Hotel được thiết kế để tạo cảm giác thoải mái và lãng mạn. Giường êm ái, ánh sáng tạo không gian, và các chi tiết trang trí tinh tế tạo điều kiện tốt nhất cho bạn và người yêu tận hưởng thời gian riêng tư. Màn hình TV lớn trang bị các dịch vụ như YouTube và Netflix, cho phép bạn xem các bộ phim và chương trình yêu thích cùng nhau.

						Nếu bạn muốn tận hưởng bữa tối ngon miệng, nhà hàng của khách sạn là điểm dừng chân lý tưởng. Tại đây, bạn có thể thưởng thức các món ăn ngon và đa dạng trong không gian lãng mạn. Ngoài ra, quầy bar cũng là nơi lý tưởng để bạn và người yêu thư giãn và thưởng thức đồ uống phong phú.

						Với vị trí tốt, dịch vụ chất lượng và không gian riêng tư, Hùng Phát Hotel là nơi lý tưởng để tận hưởng kỳ nghỉ lãng mạn và đáng nhớ cùng người yêu của bạn. Khám phá thành phố hoặc thư giãn tận hưởng không gian riêng tư, Hùng Phát Hotel đang chờ đón bạn và hứa hẹn mang đến những kỷ niệm đặc biệt.
					</p>
					<ul class="ftco-social d-flex">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <h2 class="mb-4">Thư viện Hình ảnh</h2>
            </div>
        </div>
        <div class="row">
            <!-- Hình ảnh 1 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 1.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 1.jpg" alt="Image 1" class="img-fluid">
                </a>
            </div>

            <!-- Hình ảnh 2 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 2.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 2.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 3 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 3.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 3.jpg" alt="Image 3" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 4 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 4.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 4.jpg" alt="Image 4" class="img-fluid">
                </a>
                <br>
            </div>
            <!-- Hình ảnh 5 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 5.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 5.jpg" alt="Image 5" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 6 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 6.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 6.jpg" alt="Image 6" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 7 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 7.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 7.jpg" alt="Image 7" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 8 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 8.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 8.jpg" alt="Image 8" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 9 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 9.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 9.jpg" alt="Image 9" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 10 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 10.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 10.jpg" alt="Image 10" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 11 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 11.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 11.jpg" alt="Image 11" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 12 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 12.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 12.jpg" alt="Image 12" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 13 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 13.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 13.jpg" alt="Image 13" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 14 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 14.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 14.jpg" alt="Image 14" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 15 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 15.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 15.jpg" alt="Image 15" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 16 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 16.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 16.jpg" alt="Image 16" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 17 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 17.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 17.jpg" alt="Image 17" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 18 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 18.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 18.jpg" alt="Image 18" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 19 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 19.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 19.jpg" alt="Image 19" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 20 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 20.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 20.jpg" alt="Image 20" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 21 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 21.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 21.jpg" alt="Image 21" class="img-fluid">
                </a>
            </div>
            <!-- Hình ảnh 22 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 22.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 22.jpg" alt="Image 22" class="img-fluid equal-size-image">
                </a>
            </div>
            <!-- Hình ảnh 23 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 23.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 23.jpg" alt="Image 23" class="img-fluid equal-size-image">
                </a>
            </div>
            <!-- Hình ảnh 24 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 24.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 24.jpg" alt="Image 24" class="img-fluid equal-size-image">
                </a>
            </div>
            
            <!-- Hình ảnh 26 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 26.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 26.jpg" alt="Image 26" class="img-fluid equal-size-image">
                </a>
            </div>
            <!-- Hình ảnh 27 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 27.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 27.jpg" alt="Image 27" class="img-fluid equal-size-image">
                </a>
            </div>
            <!-- Hình ảnh 28 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 28.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 28.jpg" alt="Image 28" class="img-fluid equal-size-image">
                </a>
            </div>
            <!-- Hình ảnh 29 -->
            <div class="col-md-3">
                <a href="~/images/hung phat 29.jpg" class="gallery image-popup img ftco-animate">
                    <img src="~/images/hung phat 29.jpg" alt="Image 29" class="img-fluid equal-size-image">
                </a>
            </div>
        </div>
    </div>
</section>
