@{
    ViewData["Title"] = "Create";
}

@model RoomProperty

<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="control-label">Tên </label>
        <input  asp-for="Name">
    </div>


    <button type="submit" class="btn btn-primary">Create Property</button>
</form>
