@{
    ViewData["Title"] = "Create";
}

@model RoomProperty

<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="control-label">Tên </label>
        <input  asp-for="Name">
    </div>
<<<<<<< HEAD
   
=======

>>>>>>> a4711a05f2ba81bc9dbb2cd0e7a6ffa19305ccee

    <button type="submit" class="btn btn-primary">Create Property</button>
</form>
