@model IEnumerable<RoomType>
@{
    ViewData["Title"] = "Index";
}


<div class="container" style="min-height:100vh">
    <h1 class="mb-3">Quản lý loại phòng</h1>

    <a asp-action="Create">Tạo Loại Phòng MỚi</a>

<table id="room_type"  class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
              
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>